<h1>Forwarding Message</h1>

<%= form_for(@message, url: {action: forward_message}) do |f| %>
  <%= f.label :send_to %>
  <%= f.collection_select :office, Office.all, :id, :name %>
  <br />
  <%= f.fields_for :notes, Note.new do |note| %>
    <%= note.label "Note" %>
    <br />
    <%= note.text_area :content %>
  <% end %>
  <br />
  <div class="actions">
    <%= f.submit "Forward Message" %>
  </div>
<% end %>