<% if user_signed_in? %>
<p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></p>
  <li>
  <%= link_to('Home', '/') %>
  </li>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% if current_user.admin_check == true %>
  <li>
    <%= link_to('Manage Users', '/manage') %>
  </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
  <li>
  <%= link_to('Compose', '/compose') %>
  </li>
  <h3> Inbox (<%= @mailbox.inbox.length %>) </h3>
  <table class='full-width-table'>
    <tr>
      <th>Subject</th>
      <th>From</th>
      <th>Date Received</th>
      <th>Time Left</th>
    </tr>
    <%- @mailbox.inbox.each do |convo| %>
      <%= convo %>
      <tr>
        <td><%= link_to convo.subject, message_path(convo.id) %></td>
        <td><%= convo.last_sender.name %></td>
        <td><%= convo.created_at %></td>
        <td>(Datetime Received + 24) - DatetimeNow</td>
      </tr>
    <% end %>
  </table>

  <h3> Sent (<%= @mailbox.sentbox.length %>) </h3>
  <table class='full-width-table'>
    <tr>
      <th>Subject</th>
      <th>From</th>
      <th>Date Received</th>
      <th>Time Left</th>
    </tr>
    <%- @mailbox.sentbox.each do |convo| %>
      <%= convo %>
      <tr>
        <td><%= link_to convo.subject, message_path(convo.id) %></td>
        <td><%= convo.last_sender.name %></td>
        <td><%= convo.created_at %></td>
        <td>(Datetime Received + 24) - DatetimeNow</td>
      </tr>
    <% end %>
  </table>

<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
