<% if user_signed_in? %>
<p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></p>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% if current_user.admin_check == true %>
  <li>
  <%= link_to('Manage Users', '/manage') %>
  </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<p id="notice"><%= notice %></p>
<p>Deadline: <%= @message.deadline %></p>
<p>From: <%= @message.received_from %></p>
<p>Subject: <%= @message.subject %></p>
<p>Attachments</p>

<% @message.notes.each do |note| %>
  <% note.attachments.each do |attach| %>
    <%= link_to attach.file.url, attach.file.url %>
  <% end %>
<% end %>

<p>Notes</p>
<ul>
<% @message.notes.each do |note| %>
<li><%= note.content %></li>
<% end %>
</ul

<% if current_user.admin_check == true %>
<%= link_to 'View History', message_history_path(@message) %> |
<% if @message.status == "OPEN" %>
<%= link_to 'Close', close_message_path(@message) %>
<% else %>
<%= link_to 'Unclose', unclose_message_path(@message) %>
<% end %>
<% end %> |
<%= link_to 'Reply', forward_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>