<% if user_signed_in? %>
<p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></p>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% if current_user.admin_check == true %>
  <li>
  <%= link_to('Manage Users', '/manage') %>
  </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<p id="notice"><%= notice %></p>
<h3><%= @convo.subject %></h3>
<%- @convo.messages.each do |msg| %>
  <div class='message'>
    <div>From: <%= msg.sender.name %></div>
    <div>Attachments:
      <ul>
        <li><%= link_to msg.attachment.identifier, msg.attachment.url %></li>
      </ul>
    </div>
    <div>Body: <%= msg.body %></div>
  </div>
<% end %>

<div>
<% if current_user.admin_check == true %>
<%= link_to 'View History', message_history_path(@convo) %> |
<% if @message.status == "OPEN" %>
<%= link_to 'Close', close_message_path(@convo) %>
<% else %>
<%= link_to 'Unclose', unclose_message_path(@convo) %>
<% end %>
<% end %> |
<%= link_to 'Reply', forward_message_path(@convo) %> |
<%= link_to 'Back', messages_path %>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
</div>
